.trash/
.obsidian/
access_audit
*.out
app
app.exe
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.vscode/
**/.vscode/
cpp-projects/main
cpp-projects/access_audit
cpp-projects/*.o
cpp-projects/*.exe
cpp-projects/*.out
main
